* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/*Grid styling for the whole page layout*/
.main-grid {
  display: grid;
  height: 100vh;
  grid-template: 1.5fr 9fr 50px / 1fr;
}

/*Start of Header styling*/

.header {
  background-color: black;
  color: white;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  justify-content: space-around;
  grid-gap: 30%;
}

.header h1 {
  text-align: center;
  align-self: center;

  font-size: 2.2rem;
}

.header .nav {
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: space-around;
  gap: 2rem;

  font-size: 1.5rem;
  font-family: Roboto;
  border-radius: 5px;
  border: 1px solid black;
}

.nav button {
  background-color: transparent;
  color: white;
  border: none;
}

/*End of Header styling*/

/*Start of main styling*/

.banner {
  display: flex;
  justify-content: center;
}

.banner > img {
  margin: 10px;
  width: 60%;
}

.main .intro {
  display: flex;
  text-align: justify;
}

.intro > p {
  font-size: 1.2rem;
  padding: 1rem;
}

/*End of main styling*/

/*Start of Footer styling*/

.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*End of Footer styling*/
